@import 'foundation/all';

$widths: (
  large: 106px,
  middle: 86px,
  small: 64px,
);

$heights: (
  large: 40px,
  middle: 32px,
  small: 28px,
);

$types: primary, default, dashed, text;

.rsup-btn {
  border-radius: 4px;
  cursor: pointer;
  transition: all 250ms ease;

  &--view-mode {
    background-color: $white;
    border: solid 1px $cool-gray-700;
    border-radius: 17px;
    cursor: pointer;
    height: 30px;
    transition: all 250ms ease;
    width: 90px;

    &:hover {
      background-color: $cool-gray-200;
    }

    &:active {
      background-color: $cool-gray-300;
    }
  }

  &:disabled {
    cursor: default;
  }
}

//* button size
@each $height, $value in $heights {
  .rsup-btn--size-#{$height} {
    font-size: if($height == large, $fs-base, $fs-sm);
    height: $value;
    width: map-get($widths, $height);
  }
}

//* button type (color)
@each $type in $types {
  .rsup-btn--type-#{$type} {
    background-color: if($type == 'primary', $point-color, $white);
    border: if(
      $type == 'default',
      1px solid $point-color,
      if($type == 'dashed', 1px solid $cool-gray-700, 0)
    );
    color: if(
      $type == 'primary',
      $white-text-color,
      if($type == 'default', $point-color, $text-gray-800)
    );

    &:hover {
      background-color: if(
        $type == 'primary',
        $blue-800,
        if($type == 'default', $blue-200, $cool-gray-200)
      );
    }

    &:active {
      background-color: if(
        $type == 'primary',
        $blue-900,
        if($type == 'default', $blue-300, $cool-gray-300)
      );
    }

    &:disabled {
      background-color: if($type == 'primary', $cool-gray-700, $white);
      filter: opacity(30%);
    }
  }
}
