//* Configuration
@import 'foundation/all';
@import 'base/all';

body {
  color: var(--#{$prefix}body-text-color);
  background-color: var(--#{$prefix}body-bg-color);

  font-family: var(--#{$prefix}body-font-family);
  font-size: var(--#{$prefix}body-font-size);
  font-weight: var(--#{$prefix}body-font-weight);
  line-height: var(--#{$prefix}body-line-height);
}

//* Components
@import 'atoms/button';
@import 'atoms/title';
