@import 'foundation/all';

.#{$prefix}select {
  --#{$prefix}select-font-size: #{$select-font-size};
  --#{$prefix}select-label-color: #{$select-label-color};
  --#{$prefix}select-bg-color: #{$select-bg-color};
  --#{$prefix}select-overlay-bg-color: #{$select-overlay-bg-color};
  --#{$prefix}select-box-shadow: #{$select-box-shadow};
  --#{$prefix}select-transition: #{$select-transition};

  --#{$prefix}select-border-width: #{$select-border-width};
  --#{$prefix}select-border-style: #{$select-border-style};
  --#{$prefix}select-border-color: #{$select-border-color};
  --#{$prefix}select-border-radius: #{$select-border-radius};

  cursor: pointer;
  font-size: var(--#{$prefix}select-font-size);
  flex-direction: column;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  &__label {
    @include padding-2('xxxs', 'xs');
    align-items: center;
    background-color: var(--#{$prefix}select-bg-color);
    border: var(--#{$prefix}select-border-width) var(--#{$prefix}select-border-style)
      var(--#{$prefix}select-border-color);
    border-radius: var(--#{$prefix}select-border-radius);
    display: flex;
    justify-content: space-between;
    transition: var(--#{$prefix}select-transition);

    > svg {
      transition: var(--#{$prefix}select-transition);
    }

    &:hover,
    &--active {
      --#{$prefix}select-border-color: #{$select-border-color-active};
    }

    &--active > svg {
      transform: rotate(180deg);
    }
  }

  &__label-wrapper {
    align-items: center;
    display: flex;
    gap: 5px;
  }

  &__overlay {
    background-color: var(--#{$prefix}select-overlay-bg-color);
    border-radius: var(--#{$prefix}select-border-radius);
    box-shadow: var(--#{$prefix}select-box-shadow);
    color: var(--#{$prefix}select-text-color);
    position: absolute;
    width: 100%;
    z-index: 99;
  }

  &__option {
    --#{$prefix}select-option-text-color: #{$select-option-text-color};
    --#{$prefix}select-option-bg-color: #{$select-option-bg-color};

    @include padding('xs');
    align-items: center;
    background-color: var(--#{$prefix}select-option-bg-color);
    box-sizing: border-box;
    color: var(--#{$prefix}select-option-text-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: var(--#{$prefix}select-transition);
    width: 100%;

    &--selected {
      --#{$prefix}select-option-bg-color: #{$select-option-bg-color-active};
    }

    &--highlighted {
      --#{$prefix}select-option-bg-color: #{$select-option-bg-color-hover};
    }
  }
}
