@import 'foundation/all';

.btn {
  align-items: center;
  // --#{$prefix}btn-color: #{$body-color};
  // --#{$prefix}btn-bg: transparent;

  // --#{$prefix}btn-font-size: #{$font-size};
  // --#{$prefix}btn-font-weight: #{$btn-font-weight};
  // --#{$prefix}btn-line-height: #{$btn-line-height};

  // --#{$prefix}btn-padding-x: #{$padding-x};
  // --#{$prefix}btn-padding-y: #{$padding-y};

  // --#{$prefix}btn-border-width: #{$btn-border-width};
  // --#{$prefix}btn-border-color: transparent;
  // --#{$prefix}btn-border-radius: #{$border-radius};

  // --#{$prefix}btn-box-shadow: #{$btn-box-shadow};
  // --#{$prefix}btn-disabled-opacity: #{$btn-disabled-opacity};

  display: flex;
  justify-content: center;

  // font-size: var(--#{$prefix}btn-font-size);
  // font-weight: var(--#{$prefix}btn-font-weight);
  // line-height: var(--#{$prefix}btn-line-height);
}
