@import 'foundation/all';

.btn {
  --#{$prefix}btn-bg: #{$primary};
  --#{$prefix}btn-color: #{$white};

  --#{$prefix}btn-font-family: #{$btn-font-family};
  --#{$prefix}btn-font-weight: #{$btn-font-weight};
  --#{$prefix}btn-line-height: #{$btn-line-height};

  --#{$prefix}btn-padding-x: #{$btn-padding-x};
  --#{$prefix}btn-padding-y: #{$btn-padding-y};
  --#{$prefix}btn-font-size: #{$btn-font-size};

  --#{$prefix}btn-border-width: #{$btn-border-width};
  --#{$prefix}btn-border-color: transparent;
  --#{$prefix}btn-border-radius: #{$btn-border-radius};

  --#{$prefix}btn-disabled-opacity: #{$btn-disabled-opacity};

  align-items: center;
  display: flex;

  font-size: var(--#{$prefix}btn-font-size);
  font-weight: var(--#{$prefix}btn-font-weight);
  justify-content: center;
  line-height: var(--#{$prefix}btn-line-height);
}
