@import 'foundation/all';
@import '../mixins/text';

.#{$prefix}text {
  --#{$prefix}-text-font-color: var(--#{$prefix}-text-font-color);
  --#{$prefix}-text-font-size: var(--#{$prefix}-text-font-size);
  --#{$prefix}-text-font-weight: var(--#{$prefix}-text-font-weight);
  color: var(--#{$prefix}-text-font-color);
  font-size: var(--#{$prefix}-text-font-size);
  font-weight: var(--#{$prefix}-text-font-weight);

  &--color-white {
    @include text-color($white);
  }
}

@each $color, $value in $text-colors {
  .#{$prefix}text--color-#{$color} {
    @include text-color($value);
  }
}

@each $color, $value in $theme-colors {
  .#{$prefix}text--color-#{$color} {
    @include text-color($value);
  }
}

@each $size, $value in $font-sizes {
  .#{$prefix}text--size-#{$size} {
    @include text-size($value);
  }
}

@each $weight, $value in $font-weights {
  .#{$prefix}text--weight-#{$weight} {
    @include text-weight($value);
  }
}
