@import 'foundation/all';
@import '../mixins/title';

.#{$prefix}title {
  --#{$prefix}-title-font-color: var(--#{$prefix}-title-font-color, #{$title-color});
  --#{$prefix}-title-font-size: var(--#{$prefix}-title-font-size);
  --#{$prefix}-title-font-weight: var(--#{$prefix}-title-font-weight);

  margin: 0;
  color: var(--#{$prefix}-title-font-color);
  font-size: var(--#{$prefix}-title-font-size);
  font-weight: var(--#{$prefix}-title-font-weight);

  &--color-white {
    @include title-color($white);
  }
}

@each $color, $value in $text-colors {
  .#{$prefix}title--color-#{$color} {
    @include title-color($value);
  }
}

@each $color, $value in $theme-colors {
  .#{$prefix}title--color-#{$color} {
    @include title-color($value);
  }
}

@each $size, $value in $title-text-sizes {
  .#{$prefix}title--size-#{$size} {
    @include title-size($value);
  }
}

@each $weight, $value in $font-weights {
  .#{$prefix}title--weight-#{$weight} {
    @include title-weight($value);
  }
}
