:root {
  // colors
  // _colors 16 line
  --rsup-primary: #{$rsup-primary};

  --rsup-body-color: #{$rsup-body-color};
  --rsup-body-bg: #{$rsup-body-bg};

  // typographys
  --rsup-body-font-family: #{$rsup-body-font-family};
  --rsup-body-font-size: #{$rsup-body-font-size};
  --rsup-body-font-weight: #{$rsup-body-font-weight};
  --rsup-body-line-height: #{$rsup-body-line-height};
}
